.gob {
    background-color: #242424;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    border-radius: 0;
}

/* On hover of the container, dim all tabs */
.profile-tabs:hover .gob {
    opacity: 0.6;
}

/* On hover of a specific tab, make it fully opaque and slightly change background */
.profile-tabs .gob:hover {
    opacity: 1;
    background-color: #3a3a3a;
}
